
{% extends 'super/base.html' %}
{% load i18n %}
{% load static %}
{% block container %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Archivos
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="{% url 'super:archivo-new'%}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">add_circle</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="body table-responsive">
            {% if archivos %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>NOMBRE</th>
                            <th>CARPETA</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for current in archivos %}
                            <tr>
                                <td style="vertical-align:middle;">{{ current.nombre }}</td>
                                <td style="vertical-align:middle;">{{ current.carpetas }}</td>
                                <td width="30%">

                                    <a href="{% url 'super:archivo-edit' current.id %}" class="btn btn-primary btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">mode_edit</i>
                                        <span> {% trans 'Editar' %}</span>
                                    </a>

                                    <a href="{% url 'super:archivo-delete' current.id %}" class="btn bg-red  btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">delete_forever</i>
                                        <span> {% trans 'Eliminar' %}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div layout="row" layout-align="center center">
                    <div>
                        <h3>{% trans 'No hay datos' %} {% trans 'para mostrar' %}</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
