{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}


{% block main %}
   <section class="">
        <div class="container-fluid">
            <div class="block-header">
                <h2></h2>
            </div>

            <!-- Masked Input -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">
                            <div class="demo-masked-input">
                                <div class="row clearfix">
                                    <div class="col-md-4 col-sm-6">
                                        <b>Nombre</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Ej: Lilli Chavarria">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <b>Correo electrónico</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control email" placeholder="Ej: example@example.com">
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-md-4 col-sm-6">
                                        <b>Número teléfonico</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control mobile-phone-number" placeholder="Ej: +000 0000-0000">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4 col-sm-6">
                                        <b>Tipo de evento</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">event</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control date" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6  col-xs-6">
                                        <b>Fecha del evento</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control date" placeholder="Ej: 30/07/2018">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6  col-xs-6">
                                        <b>Horario</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">access_time</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control time24">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-header">
                                    <h2><strong>Invitados</strong></h2>
                                </div>
                                <div class="row clearfix">

                                    <div class="col-md-4  col-sm-6 col-xs-6">
                                        <b>Adultos</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">supervisor_account</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control money-dollar" placeholder="Ej: 189">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4  col-sm-6 col-xs-6">
                                        <b>Niños</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">child_care</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control money-dollar" placeholder="Ej: 59">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                 <div class="row clearfix">
                                    <div class="col-sm-12">
                                    <b>Observaciones / Comentarios</b>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea rows="4" class="form-control no-resize" placeholder="Por favor escriba lo que quiere..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Masked Input -->




            </div>


        </div>
    </section>
{% endblock %}
