
{% extends 'super/base.html' %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}

{% block title_header %}{% trans 'Users' %}{% endblock %}

{% block container %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                {% trans 'Users' %}
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="{% url 'super:user-new'%}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="left" title=""data-original-title="{% trans 'New' %}">
                        <i class="material-icons">add_circle</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class= "body table-responsive">
        <form method="GET" action="{% url 'super:user-search' %}" id="search_text" style="position: relative; display: inline-flex; vertical-align: middle; width: 100%; padding: 10px 13px;">
            <input id="search" name="search" type="text" class="form-control" placeholder="{% trans 'Search' %}" value="{{search_text}}">
            <button type="submit" form="search_text" style="background: #baa130; margin-left: 9px;" class="btn btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title=""data-original-title="{% trans 'Search' %}">
                <i class="material-icons">search</i>
            </button>
            <a href="{% url 'super:user-list'%}" class="btn btn-default btn-circle waves-effect waves-circle waves-float" role="button" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;" data-toggle="tooltip" data-placement="top" title=""data-original-title="{% trans 'Clear' %}">
                <i class="material-icons">clear</i>
            </a>
        </form>
            {% if users %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-transform: uppercase;">{% trans 'Name' %}</th>
                            <th style="text-transform: uppercase;">{% trans 'Email' %}</th>
                            <th style="text-transform: uppercase;">{% trans 'State' %}</th>
                            <th style="text-transform: uppercase;">{% trans 'Type' %}</th>
                            <th style="text-transform: uppercase;">{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for current in users %}
                            <tr>
                                <td style="vertical-align:middle;">{{ current.full_name }}</td>
                                <td style="vertical-align:middle;">{{ current.email }}</td>
                                {% if current.is_active %}
                                    <td style="vertical-align:middle;">{% trans 'Active' %}</td>
                                {%else %}
                                    <td style="vertical-align:middle;">{% trans 'Inactive' %}</td>
                                {% endif %}
                                    <td style="vertical-align:middle;">
                                {% if current.user_type == current.ADMIN %}
                                    {% trans 'Admin' %}
                                {% elif current.user_type == current.USER %}
                                    {% trans 'User' %}
                                {% elif current.user_type == current.MANAGER %}
                                    {% trans 'Manager' %}
                                {% endif %}</td>
                            </td>

                                <td width="30%">

                                    <a href="{% url 'super:user-edit' current.id %}" class="btn btn-primary btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">mode_edit</i>
                                        <span> {% trans 'Update' %}</span>
                                    </a>

                                    <a href="{% url 'super:user-delete' current.id %}" class="btn bg-red  btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">delete_forever</i>
                                        <span> {% trans 'Delete' %}</span>
                                    </a>

                                    <a  href="{% url 'super:change-password' current.id %}" class="btn btn-warning btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="top" title=""data-original-title="{% trans 'Change password' %}">
                                        <i class="material-icons">vpn_key</i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "partials/pagination.html" %}

            {% else %}
                <div layout="row" layout-align="center center">
                    <div>
                        <h3>{% trans 'No data to display' %}</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
