{% extends 'account/email/main_mail.html' %}
{% load i18n %}
{% load static %}
{%block main %}
    <p>
        {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!
    </p>
        <br>
    <p>
        You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}.
    </p>
    <p>
        It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
    </p>
    <p>
        {{ password_reset_url }}
    </p>
    <p>
        {% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}

        {% endif %}


{% endblock %}
