{% extends 'account/email/main_mail.html' %}
{% load i18n %}
{% load static %}

{%block main %}
<tr>
    <td bgcolor="#ffffff" style="padding: 40px 40px 20px; text-align: center;">
        <h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">Correo de confirmación de cuenta</h1>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: center;">
        <p style="margin: 0;">Haz recibido este correo, por que tienes una cuenta en el sistema Manejador de Documentos</p>
        <br>
        <p style="margin: 0;">Por favor, confirma tu correo en el siguiente enlace para activar tu cuenta</p>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
            <tr>
                <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                    <a href="{{ activate_url }}" style="background: #baa130; border: 15px solid #baa130; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff;">Activar cuenta</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </td>
            </tr>
        </table>
        <!-- Button : END -->
    </td>
</tr>
<tr>
        <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: center;">
            <p style="margin: 0;">Si no ve correctamente el botón, vaya a esta dirección</p>
            <a href="{{ activate_url }}">{{ activate_url }}</a>
        </td>
    </tr>
{% endblock %}
