{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}




{% block main %}
 <div class="logo">
        <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}"></a>
    </div>
<div class="card">
	<!-- /.login-logo -->
	<div class="body" >

		{% if confirmation %}

		{% user_display confirmation.email_address.user as user_display %}

		<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
			{% csrf_token %}
            <div  style="text-align:center;">
                    <button class="btn btn-lg btn-block btn-success"  type="submit"> <h5>Confirmar</h5></button>
            </div>
            <br>

        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}Este enlace de confirmación por correo electrónico expiró o no es válido. Por favor <a href="{{ email_url }}">realize una nueva solicitud de confirmación por correo electrónicot</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
</div>
{% endblock %}

