{% extends 'super/base.html' %}
{% load i18n %}
{% load static %}


{% block header %}
{% endblock %}

{% block container %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    </div>
        <div class="block-header">
            <div class="logo">
                <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Sin Rubmo"></a>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{% trans "Sign Out" %}</h2>
                        <div class="msg">{% trans 'Are you sure you want to sign out?' %}</div>
                    </div>
                    <div class="body">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <div class="col-xs-12 col-sm-12 col-xs-12">
                                <button class="btn btn-block bg-blue waves-effect"  type="submit">{% trans 'Sign Out' %}</button>
                            </div>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>

            </div>


        </div>
{% endblock %}
