{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}


{% block main %}


<div class="container-fluid">
    <div class="container container-ligth-green">
        <div class="row header-clean">
          <br>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <img class="logo" src="{% static 'img/taxibusnerja.png' %}">
          </div>
        </div>
        <div class="row">
            <h1>{% trans 'Password reset' %}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container container-ligth-green" style="text-align:left;">
        <div class="row">
            <div class="login-box">
                <!-- /.login-logo -->
                <div class="login-box-body">


                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">

                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        <form method="POST" action="{% url 'account_reset_password' %}">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {% crispy form %}


                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}

                            <div class="row">
                                <div class="col-xs-2"></div>

                                <!-- /.col -->
                                <div class="col-xs-8">
                                    <input type="submit" style="background: #333; color:white; border-color: #333;" value="{% trans "Password Reset" %}" class="btn btn-block">
                                </div>
                                <!-- /.col -->
                            </div>
                            <br>
                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                        </form>
                        <div class="auth-links text-center">
                            <a style="color: #FFFFFF;" class="button secondaryAction" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </div>

                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
