{% extends 'super/base.html' %}

{% load i18n %}
{% load account %}

{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}

{% block container %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                {% trans "Change Password" %}
            </h2>
        </div>
        <div class="body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                <div class="panel-body">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                      {% crispy form %}
                </div>
                <input type="hidden" name="next" value="/" />
                <div class="footer">
                    <input type="submit" class="btn btn-success" type="submit" value="{% trans 'Save password' %}" />

                    <a class="btn btn-default waves-effect" href="{% url 'super:home' %}">{% trans 'Return' %}</a>
                </div>
      </form>
        </div>
    </div>
</div>

{% endblock %}


