{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block main %}




<div class="container-fluid">
    <div class="container container-ligth-green">
            <div class="row header-clean">
          <br>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <img class="logo" src="{% static 'img/taxibusnerja.png' %}">
          </div>
        </div>
      <div class="row">
        <h1>
           <p  class="login-box-msg">{% trans "Password Reset" %}</p>
        </h1>
    </div>
</div>
<div class="container-fluid">
<div class="container container-ligth-green" style="text-align:left;">
<div class="login-box">
	<!-- /.login-logo -->
	<div class="login-box-body" style="text-align:center;">

		{% if user.is_authenticated %}
		{% include "account/snippets/already_logged_in.html" %}
		{% endif %}

		<p>{% blocktrans %}We have sent you an e-mail. Please contact us <a href="mailto:info@taxibusnerja.com" target="_top">info@taxibusnerja.com</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
	</div>
</div>
</div>
</div>
{% endblock %}
