{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}


{% block main %}
<div class="logo">
    {% if  settings %}
        <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}" style=" width: 322px;"></a>
    {% else %}
        <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Dokumen" style=" width: 322px;"></a>
    {% endif %}
</div>
<div class="card">
    <div class="body">
            <div class="msg"><strong>Reinicio de contraseña</strong></div>
            <p>La contraseña se ha cambiada</p>
            <a href="{% url 'account_login' %}" class="btn btn-block bg-blue waves-effect" >Iniciar Sesión</a>
    </div>
</div>
{% endblock %}

