{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}



{% block main %}

<div class="container-fluid">
    <div class="container container-ligth-green">
            <div class="row header-clean">
          <br>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <img class="logo" src="{% static 'img/taxibusnerja.png' %}">
          </div>
        </div>
        <div class="row">
            <h1><p class="login-box-msg">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</p></h1>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="container container-ligth-green" style="text-align:left;">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body" style="text-align:center;">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">



                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                {% if form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            <input type="submit" style="background: #333; color:white; border-color: #333;"  value="{% trans "Save" %}" class="btn btn-block">
                        </div>
                    </div>
                </form>
                {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
                {% endif %}



            </div>

        </div>
    </div>
</div>
</div>
</div>
{% endblock %}






