{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block title_header %}
{% trans 'Reset password' %}
{% endblock %}

{% block main %}
<div class="logo">
    {% if  settings %}
        <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}" style=" width: 322px;"></a>
    {% else %}
        <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Dokumen" style=" width: 322px;"></a>
    {% endif %}
</div>
<div class="card">
    <div class="body">
            <div class="msg"><strong>Restablecer Contraseña</strong></div>
            {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Le hemos enviado un correo electrónico. Por favor contáctenos al administrador si no lo recibe en unos minutos.</p>
        <br>
        <a href="/" class="btn btn-block bg-blue waves-effect" >Iniciar Sesión</a>
    </div>
</div>
{% endblock %}
