{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% get_static_prefix as STATIC_URL %}

{% block title_header %}
{% trans 'Reset password' %}
{% endblock %}


{% block main %}
<div class="logo">
    {% if  settings %}
        <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}" style=" width: 322px;"></a>
    {% else %}
        <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Dokumen" style=" width: 322px;"></a>
    {% endif %}
</div>
<div class="card">
    <div class="body">
            <div class="msg"><strong>{% trans "Reset password" %}</strong></div>
        {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>¿Olvidaste tu contraseña? Ingrese la dirección de correo electrónico, y le enviaremos un correo electrónico que le permite restablecerlo.</p>
        <br>
        <form method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% crispy form %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="row">
                <div class="col-md-2"></div>
                <!-- /.col -->
                    <div class="col-md-12">
                        <input type="submit" style="background: #333; color:white; border-color: #333;" value="Recuperar contraseña" class="btn btn-block">
                    </div>
                <!-- /.col -->
            </div>
            <br>
            <p>Por favor contáctenos si tiene algún problema para restablecer su contraseña.</p>
        </form>
        <div class="auth-links text-center">
            <a style="color: #000000;" class="button secondaryAction" href="{% url 'account_login' %}">{% trans 'Login'%}</a>
        </div>
    </div>
</div>

{% endblock %}
