{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title_header %}
{% trans 'Change password' %}
{% endblock %}


{% block main %}
<div class="logo">
    {% if  settings %}
        <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}" style=" width: 322px;"></a>
    {% else %}
        <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Dokumen" style=" width: 322px;"></a>
    {% endif %}
</div>
<div class="card">
    <div class="body">
            <div class="msg"><strong>{% if token_fail %}{% trans "Invalid token" %}{% else %}{% trans "Change password" %}{% endif %}</strong></div>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                    <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se utilizó. <br>Por restableca contraseña</p>
                    <a href="{{ passwd_reset_url }}" class="btn btn-block bg-blue waves-effect" >{% trans "Reset password" %}</a>
            {% else %}
                {% if form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            <input type="submit" style="background: #333; color:white; border-color: #333;"  value="{% trans 'Save password' %}" class="btn btn-block">
                        </div>
                    </div>
                </form>
                {% else %}
                    <p>Su contraseña ahora ha cambiado</p>
                {% endif %}
            {% endif %}

        <br>
    </div>
</div>


{% endblock %}






