{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block main %}
    <div class="logo">
        {% if  settings %}
            <a href="/"><img class="logo" src="{{ settings.logo.url }}" alt="{{ settings.name }}" style=" width: 322px;"></a>
        {% else %}
            <a href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt="Dokumen" style=" width: 322px;"></a>
        {% endif %}
    </div>
    <div class="card">
    	<div class="body">
            <div class="msg"><strong>Verifique su correo eléctronico</strong></div>
    		<p>{% blocktrans %}Le hemos enviado un correo electrónico para su verificación. Siga el enlace provisto para finalizar el proceso de registro. Por favor contáctenos si no lo recibe en unos minutos.{% endblocktrans %}</p>
             <br>
    	</div>

    </div>
{% endblock %}



