{% load static %}
{% load i18n %}
{% load tz %}

{% load account socialaccount %}
{% load navbar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% if  settings %}
        <title>{{ settings.name }}
    {% else %}
        <title>Dokumen
    {% endif %}
         | {% block title_header %}
        {% endblock %}
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <!-- Google Fonts -->

    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet" />

        <!-- Jquery Core Js -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    {% block extra_head %}
    {% endblock %}

</head>
<body class="theme-blue">
    <!-- # Notificaciones -->
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                $( document ).ready(function() {
                    showNotification("alert-"+'{{ message.tags }}', '{{ message }}', "top", "center", "", "");
                });
            </script>
        {% endfor %}
    {% endif %}
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>

                {% if  settings %}
                    <a class="navbar-brand" href="{% url 'super:home' %}"><img src="{{settings.white_logo.url}}"></a>
                {% else %}
                   <a class="navbar-brand" href="{% url 'super:home' %}"><img src="{% static 'img/white_logo.png' %}"></a>

                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" style="padding: 7px 7px 2px 7px; margin-top: 17px; margin-left: 5px;">
                        <i style="color:white;">{% trans "Time" %}: {{time|timezone:"America/Guatemala"|time:"h:i a"}}</i>
                    </li>
                    <!-- Accounts -->
                    {% if settings.help_file %}
                        <li class="dropdown">
                            <a href="{{settings.help_file.url|default_if_none:"#" }}" target="_blank" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Help' %}">
                                <i class="material-icons">help_outline</i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="{% url 'account_change_password'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Change password' %}">
                            <i class="material-icons">vpn_key</i>
                        </a>
                    </li>

                     {% if user.user_type == user.ADMIN %}

                        <li class="dropdown">
                            <a href="{% url 'super:role-list' %}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Role' %}">
                                <i class="material-icons">view_list</i>
                            </a>
                        </li>
                        <!-- Configuracion -->
                        <li class="dropdown">
                            <a href="{% url 'super:settings-edit' '1' %}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Settings' %}">
                                <i class="material-icons">settings</i>
                            </a>
                        </li>
                        <!-- #END# Configuracion -->
                        <!-- Enlaces -->
                        <li class="dropdown">
                            <a href="{% url 'super:link-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Links' %}">
                                <i class="material-icons">link</i>
                            </a>
                        </li>
                        <!-- #END# Enlaces -->
                        <!-- User -->
                        <li class="dropdown">
                            <a href="{% url 'super:user-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Users' %}">
                                <i class="material-icons">account_circle</i>
                            </a>
                        </li>
                        <!-- #END# User -->
                        <!-- Archivo -->
                        <li class="dropdown">
                            <a href="{% url 'super:file-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Files' %}">
                                <i class="material-icons">insert_drive_file</i>
                            </a>
                        </li>
                        <!-- #END# Archivo -->
                        <!-- Folder -->
                        <li class="dropdown">
                            <a href="{% url 'super:folder-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Folders' %}">
                                <i class="material-icons">folder</i>
                            </a>
                        </li>
                        <!-- #END# Folder -->
                    {% endif %}
                    {% if user.user_type == user.MANAGER %}
                        <!-- Archivo -->
                        <li class="dropdown">
                            <a href="{% url 'super:file-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Files' %}">
                                <i class="material-icons">insert_drive_file</i>
                            </a>
                        </li>
                        <!-- #END# Archivo -->
                        <!-- Folder -->
                        <li class="dropdown">
                            <a href="{% url 'super:folder-list'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Folders' %}">
                                <i class="material-icons">folder</i>
                            </a>
                        </li>
                        <!-- #END# Folder -->
                    {% endif %}

                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="{% url 'account_logout'%}" class="dropdown-toggle" role="button" data-toggle="tooltip" data-placement="bottom" title=""data-original-title="{% trans 'Logout' %}">
                            <i class="material-icons">input</i>
                        </a>
                        </li>
                    <!-- #END# Tasks -->

                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info" style="padding-top: 0px;">
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform: uppercase; font-weight: bold; color: #161616;">{{ request.user.get_full_name }}</div>
                    <div class="email" style="color: #161616;">{{ request.user.email }}</div>
                </div>
            </div>
            <!-- #User Info -->
            {% include "super/menu.html" %}
        </aside>
        <!-- #END# Left Sidebar -->

    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
            </div>
            <!-- Basic Table -->
            <div class="row clearfix">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </section>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/notifications.js' %}"></script>

    <!-- Custom Js -->

    <script src="{% static 'js/tooltips-popovers.js' %}"></script>

    <script src="{% static 'js/admin.js' %}"></script>
    <!-- Demo Js -->
    {% block mainScript %}
    {% endblock %}
</body>

</html>
