{% extends 'super/base.html' %}
{% load static %}

{% block main %}


    <section class="content">
        <div class="container-fluid">

            {% block container %}
            {% endblock %}



        </div>
    </section>

{% endblock %}
{% block mainScript %}


    <!-- Morris Plugin Js -->
    <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>


    <!-- ChartJs -->
    <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'plugins/flot-charts/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
{% endblock %}
