{% load static %}
{% load i18n %}
<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>
            <a href="{% url 'super:home'%}">
                <i class="material-icons">search</i>
                <span>{% trans "Home" %}</span>
            </a>
        </li>

        {% for current in carpetasMenu %}
            <li style="background:{{ current.color }}">
                <a href="{% url 'super:carpeta-view' current.id %}">
                    <i class="material-icons">{{ current.icono }}</i>
                    <span>{{ current.titulo }}</span>
                </a>

            </li>

        {% endfor %}


    </ul>
</div>
<!-- #Menu -->
