{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}


{% block main %}
<div class="container-fluid">
    <div class="container container-ligth-green">
        <div class="row header-clean">
          <br>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <img class="logo" src="{% static 'img/taxibusnerja.png' %}">
          </div>
        </div>
        <div class="row">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="container container-ligth-green" style="text-align:left;">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body" style="text-align:center;">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">

                <p  class="login-box-msg">{% trans "Change Password" %}</p>
                <p>{% trans 'Your password is now changed.' %}</p>
                <br>
                <a style="color: #FFFFFF;" class="button secondaryAction" href="{% url 'account_login' %}">{% trans "Login" %}</a>

            </div>

        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

