{% extends 'account/base.html' %}

{% load i18n %}
{% load account %}
{% load static %}

{% block header %}
<div class="row header-clean">
    <br>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <img class="logo" src="{% static 'img/kualitte.png' %}">
    </div>
</div>

{% endblock %}

{% block main %}

<div class="login-box">
	<!-- /.login-logo -->
	<div class="login-box-body" style="text-align:center;">
		<p  class="login-box-msg">{% trans "Verify Your E-mail Address" %}</p>


		<p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

	</div>
</div>
{% endblock %}



