
{% extends 'super/base.html' %}
{% load i18n %}
{% load static %}

{% block title_header %}
{% trans 'Roles' %}
{% endblock %}

{% block container %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
            {% trans 'Roles' %}
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="{% url 'super:role-new'%}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="left" title=""data-original-title="{% trans 'New' %}">
                        <i class="material-icons">add_circle</i>
                    </a>
                </li>
            </ul>
        </div>
    <div class= "body table-responsive">

            {% if role_data %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-transform: uppercase;">{% trans 'Name' %}</th>
                            <th style="text-transform: uppercase;">{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for current in role_data %}
                            <tr>
                                <td style="vertical-align:middle;">{{ current.name }}</td>
                                <td style="vertical-align:middle;" width="25%">

                                    <a href="{% url 'super:role-edit' current.id %}" class="btn btn-primary btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">mode_edit</i>
                                        <span> {% trans 'Update' %}</span>
                                    </a>

                                    <a href="{% url 'super:role-delete' current.id %}" class="btn bg-red  btn-xs waves-effect" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">delete_forever</i>
                                        <span> {% trans 'Delete' %}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "partials/pagination.html" %}

            {% else %}
                <div layout="row" layout-align="center center">
                    <div>
                        <h3>{% trans 'No data to display' %}</h3>
                    </div>
                </div>
            {% endif %}
        </div>
     </div>
</div>
{% endblock %}
